<!--
######################################################################
# File:		main.html
# Authors:	Irfan Khan				 999207665
#		   	Larissa Ribeiro Madeira 1003209173
# Data: 	October 2017
# Purpose: 	Website Welcome Page
######################################################################
-->
<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment 1 Webpage</title>
</head>
<html>
    <body>
        <ul>
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('signup')}}">Signup</a></li>
        </ul>
    <body>    
</html>